.container {
    width: 300px;
    padding: 20px 0px;
    background: #f5f8f8;
    display: flex-row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    border-radius: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #899ca9;
    padding: 10px 15px;
    margin: 0px 10px;
    border-radius: 10px;
}


a {
    color: #f5f8f8
}

.button {
    border: none;
    background-color: #2c3959;
    color: #f5f8f8;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.button:hover {
    background-color: #899ca9;
}

.qrbutton {
    border: none;
    background-color: #899ca9;
    color: #2c3959;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;

}

.qrbutton:hover {
    background-color: #2c3959;
    color: #f5f8f8;
}